/* Global */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  color: #111;
  transition: 0.3s;
  background: url('https://www.transparenttextures.com/patterns/cubes.png') repeat;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  z-index: 1000;
  height: 70px;
}

.nav-bar {
  max-width: 1200px;
  margin: auto;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: teal;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  
}

.nav-links li a {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 20px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: teal;
}

.theme-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.mode-toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}
/* HERO SECTION LAYOUT */
.hero-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 60px;
  gap: 70px;
  transition: 0.4s ease;
}

/* LEFT (IMAGE) */
.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 5px rgba(234, 221, 221, 0.4);
  border: 1px solid rgba(67, 87, 143, 0.4);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.hero-img:hover {
  transform: scale(1.08); /* zoom effect */
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3); /* optional shadow */
}

/* RIGHT (TEXT) */
.hero-right {
  flex: 1.3;
  color: rgb(220, 210, 210);
  margin-right: 20px;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  
}

.hero-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #dbd51a;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons button {
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.25);
  color: rgb(249, 215, 244);
  transition: 0.3s;
}

.hero-buttons button:hover {
  background: rgba(255, 255, 255, 0.45);
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
  }

  .hero-buttons {
    justify-content: center;
  }
}

.about-section {
  padding: 30px 20px 80px 20px ;
  text-align: center;
  margin: auto;
}

.about-title {
  font-size: 48px;
  font-weight: bold;
  color: #ecdfdf;
}

.underline {
  width: 130px;
  height: 5px;
  background: linear-gradient(to right, #2563eb, rgb(95, 205, 205));
  margin: 5px  auto 20px;
  border-radius: 4px;
}

.about-card {
  max-width: 900px;
  margin: auto;
  background:rgb(241, 231, 218);
  padding: 25px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 3px 15px rgba(0,0,0,0.05);
  
}

.about-card p {
  color: #040404;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.education {
  color: #fff;
  padding: 45px 20px 80px 20px ;
  margin: auto;
}

.education h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.education-level {
  margin-bottom: 30px;
}

.education-card {
  color: #040404;
  padding: 20px;
  width:75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 1.1rem;
   background-color: rgb(241, 231, 218);
}

.education-card ul {
  list-style: none;
  padding-left: 0;
}


/* Skills */
.skills {
  padding: 60px 20px;
  text-align: center;
  padding: 50px 20px;
  background-size: cover;
  color: #fff;
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ecdfdf;
}
.skill-bar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skill-name {
  width: 120px;
  color:#eaac55;
  font-weight: 500;
}
.progress-bar {
  flex: 1;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background: #db7878;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.soft-skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: 20px auto;
}
.soft-skill-badge {
  background:rgb(241, 231, 218);
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 470;
  text-align: center;
  color: #040404;
 
}
.hard-skills{
  margin-bottom:40px ;
}

/* Projects */
.projects {
  padding: 60px 20px;
  text-align: center;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.project-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(231, 220, 220, 0.05);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}
.projects h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color:#ecdfdf;
}
.project-card img, .project-card video {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card video {
  display: none;
}

.project-card:hover video {
  display: block;
}

.project-card:hover img {
  display: none;
}

.project-card-content {
  padding: 15px;
  color: #171715;
  font-size: 1.1rem;
  background-color:rgb(223, 221, 193) ;
}

.project-card-content h3 {
  margin: 0 0 10px 0;
}

.project-card-content a {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  background: rgba(228, 220, 220, 0.1);
  color: inherit;
  transition: 0.3s;
}

.project-card-content a:hover {
  background: rgba(255,255,255,0.2);
}

.project-categories {
  text-align: center;
  margin-bottom: 30px;
}

.project-categories button {
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #ebd9d9;
  transition: 0.3s;
}

.project-categories button:hover {
  background: #ee6f61;
  color: white;
}

.project-categories button.active {
  background: #b17e79;
  color: white;
}


/* Contact */
.contact {
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 15px;
  
}

.contact input, .contact textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color:rgb(241, 231, 218);
}

.contact button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #e83a2a;
  color: rgb(18, 18, 18);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}
.contact h2{color: #ececec; font-size: 2.4rem;font-weight: 800;}
.contact h4{
  color:rgb(251, 167, 167);
  font-size: 1.3rem;
}
.contact  span{
  color: rgb(69, 72, 246);
}
.contact p{
  color: #f38f94;
  font-size: 1.1rem;
}
.contact a{color: #f38f94; text-decoration: none;}
/* Footer */

.footer {
  background: #1e293f;
  text-align: center;
  padding: 5px 5px;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5px;
}

.icon-circle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: 0.3s;
}

.icon-circle:hover {
  transform: scale(1.15);
}

.credit {
  font-size: 20px;
  color: #dabf5d;
}

.name-gradient {
  font-weight: bold;
  background: linear-gradient(to right, #2563eb, teal);
  -webkit-background-clip: text;
  color: transparent;
}

.copy {
  color: #e8c3c3;
  margin-top: 3px;
}

footer a {
  color: #b02b69;
  margin: 0 10px;
  text-decoration: none;
}
